.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 48%;
    height: 200px;
    margin-bottom: 2%;
    background-color: rgb(14, 51, 131);
}

.item:nth-child(3n) {
    width: 100%;
    background-color: rgb(131, 14, 34);
}
