.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: 0 32%;
    height: 200px;
    margin-bottom: 2%;
    background-color: rgb(14, 51, 131);
}
